/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Texto en negro */
    margin: 0;
    padding: 0;
    transition: color 0.5s ease, background-color 0.5s ease;
}

header {
    background-color: #52af00; /* Verde limón */
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: background-color 0.5s ease;
}

nav {
    float: left;
    background-color: #52af00; /* Verde limón */
    transition: background-color 0.5s ease;
    position: relative; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #52af00; /* Verde limón */
}

nav ul ul {
    display: none; /* Inicialmente oculta los submenús */
    background-color: #f9f9f9; /* Establece el color de fondo del submenú */
    padding: 10px; /* Añade un relleno al submenú */
    border-radius: 5px; /* Añade bordes redondeados al submenú */
    z-index: 1; /* Establece el índice z para que los submenús aparezcan encima de otros elementos */
    position: relative; /* Posiciona los submenús de forma absoluta con respecto al elemento padre */
    top: 100%; /* Posiciona los submenús debajo de los elementos principales */
    left: 0; /* Posiciona los submenús al principio del elemento padre */
    width: 200px; /* Establece un ancho fijo para los submenús */
}

nav ul li {
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Letras en blanco */
    transition: color 0.3s ease;
}


nav ul li:hover > ul {
    display: block;
    background-color: #52af00; /* Verde limón */
   
}

.sublist-content {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    display: none;
}

.content-item {
    display: none; /* Por defecto, ocultar todo el contenido */
}

.content-item.show {
    display: block; /* Mostrar el contenido cuando tiene la clase 'show' */
    border: 2px solid #52af00; /* Bordes verdes para resaltar el contenido mostrado */
    padding: 10px; /* Añadir relleno para separar el contenido del borde */
}

.sublist-content h3 {
    color: #52af00; /* Letras en verde limón */
}

.contenido-container {
    margin-left: 200px; /* Ancho del menú de navegación */
    margin-right: 200px; /* Margen derecho igual al margen izquierdo */
    transition: margin-left 0.5s ease, margin-right 0.5s ease;
}

/* Estilos para las secciones de contenido */
.contenido {
    padding: 20px;
    text-align: center; /* Alinear el texto a la izquierda */
    background-color: #fff; /* Fondo blanco */
    display: none;
    margin-left: 40px; /* Margen a la izquierda */
    margin-right: 40px; /* Margen a la derecha */
}

.contenido h2 {
    color: #52af00; /* Letras en verde limón */
    margin-left: 20px; /* Márgen izquierdo para h2 */
}

.contenido p {
    margin-left: 20px; /* Márgen izquierdo para p */
    text-align: justify; /* Justificar el texto */
    
}
#textocorto {
    text-align: center; /* Centro de texto */
}
/* Efectos al pasar el ratón */
nav a:hover {
    color: #52af00; /* Cambiar color de letras en el menú al pasar el mouse */
}

nav ul li:hover {
    background-color: #fff; /* Cambiar color de fondo en el menú al pasar el mouse */
}

nav ul li:hover a {
    color: #52af00; /* Cambiar color de letras en el menú al pasar el mouse */
}

.contenido-container:hover .contenido {
    background-color: #fff; /* Cambiar color de fondo al pasar el mouse */
}

.contenido-container:hover .contenido h2 {
    color: #52af00; /* Cambiar color de letras al pasar el mouse */
}